force-app/main/default/flows/Captacao_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Captacao leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Captacao leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Novo_Lead</name>
        <label>Novo Lead</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Texto_final</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Empresa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Sobrenome</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Captacao_Leads</name>
        <label>Captacao Leads</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Novo_Lead</targetReference>
        </connector>
        <fields>
            <name>texto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(179, 33, 33);&quot;&gt;Ola querido Cliente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome</name>
            <dataType>String</dataType>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sobrenome</name>
            <dataType>String</dataType>
            <fieldText>Sobrenome</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Empresa</name>
            <dataType>String</dataType>
            <fieldText>Empresa</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Texto_final</name>
        <label>Texto final</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Criacao_finalizada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(192, 9, 9);&quot;&gt;Finalizado com sucesso.&lt;/strong&gt;&lt;img src=&quot;https://dbccompany2-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/068ak000001yWrm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;IMG-20221207-WA0005.jpg&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Captacao_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
