force-app/main/default/flows/Insercoes_de_conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Insercoes de conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insercoes de conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Nova_Conta</name>
        <label>Nova Conta</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>Numero_da_Conta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nome_da_conta</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Criar_conta</name>
        <label>Criar conta</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Nova_Conta</targetReference>
        </connector>
        <fields>
            <name>Nome_da_conta</name>
            <dataType>String</dataType>
            <fieldText>Nome da conta</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Numero_da_Conta</name>
            <dataType>String</dataType>
            <fieldText>Numero da Conta</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criar_conta</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
